<div style="padding-left: 25px;">
	<h3>Sign-In</h3>
	<form ng-submit="login()">
		<fieldset>
			<label>
				<input ng-model="lu" class="form-control" placeholder="Username" required>
			</label>&nbsp
			<label><input ng-model="lp" type="password" class="form-control" placeholder="Password" required>

			</label>&nbsp
			<input type="checkbox" ng-model="lrm"> Remember Me<br>
			<button type="submit" class="btn btn-default">Sign in</button>
		</fieldset>
	</form>

	<form ng-submit="register()">
		<h3>Or Sign-Up</h3>
		<fieldset>
			<label>
				<input ng-model="ru" class="form-control" placeholder="Username" required>
			</label>&nbsp
			<label><input ng-model="rp" type="password" class="form-control" placeholder="Password" required></label>&nbsp
			<input type="checkbox" ng-model="rrm"> Remember Me<br>
			<button class="btn btn-default">Sign Up</button>
		</fieldset>
		<div class="form-group has-error">
			<label ng-model="errmsg" class="control-label" for="inputError" style="display:none"></label>
		</div>

		<div class="form-group has-error">
	  		<label class="control-label" for="inputError">{{err}}</label>
		</div>

	</form>
</div>