<div class="container-fluid">
	<!-- style="background-color: gray" -->
	<div class="row-fluid" >

		<div class="span3">
			<div class="well sidebar-nav" style="position: fixed;width: 256;max-height: 300;overflow: hidden;overflow-y: auto;">
				<ul class="nav nav-list">
					<li class="nav-header title">Sound Patterns</li>
					<li class="divider"></li>
					<ul class="nav" ng-repeat="instanceName in doob.instanceNames">
						<li style="margin-bottom:5">
							<span>
								<i class="icon-rss-1" 
								ng-show="doob.instances[instanceName].isBroadcasting"></i>
								<i class="icon-user"></i>
								<a href="#/sound-patterns/{{instanceName}}"><b>{{instanceName}}</b></a>
								<span class="pull-right">
									<new-sound-pattern>
									</new-sound-pattern>
								</span>
							</span>
						</li>
						<li ng-repeat="soundPattern in doob.get(instanceName).soundPatterns">
							<a ng-click="viewEdit(soundPattern, instanceName)" style="cursor: pointer">
								<i class="icon-cancel" style="cursor: pointer" tooltip="Delete!"
								stop-event="click" ng-click="remove(soundPattern, instanceName)">
								</i>
								<span>{{soundPattern.name}}</span>
								<span class="pull-right" ng-click="viewEdit(soundPattern, instanceName)" tooltip="View/Edit" style="font-size:15">
									<i class="icon-right-circled"></i>
								</span>
							</a> 
						</li>
						<li class="btn-group">
							<button tooltip="Play All" class="btn btn-small" ng-click="playAll()">
								<i class="icon-play-1"></i>
							</button>
							<button tooltip="Stop All" class="btn btn-small" ng-click="stopAll()">
								<i class="icon-stop"></i>
							</button>
							<button tooltip="Loop All" class="btn btn-small" ng-click="loopAll()">
								<i class="icon-loop"></i>
							</button>
						</li>
					</ul>
				</ul>
			</div>
			<div class="well sidebar-nav" style="position: fixed;width: 256;max-height: 300;overflow: hidden;overflow-y: auto;top:300">
				<ul class="nav nav-list">
					<li class="nav-header">Sounds</li>
					<ul class="nav" ng-repeat="instanceName in doob.instanceNames">
						<li class="divider"></li>
						<li style="margin-bottom:5">
							<a style="cursor:default">
								<i class="icon-user"></i>
								<b style="cursor:pointer">{{instanceName}}</b>
								<span class="pull-right" stop-event="click">
									<sound-picker tooltip-placement="top" tooltip="Add Sound"></sound-picker>
								</span>
							</a>
						</li>
						<li ng-repeat="sound in doob.get(instanceName).sounds" >
							<play-inline sound="sound" context="instanceName" stop-event="click">
							</play-inline>
							<span  sound="{{sound}}">{{sound}}</span>
							<span class="pull-right" ng-show="showPattern()" 
							 tooltip="Add to Pattern" >
								<add-sound></add-sound>
							</span>
							<!-- <input type="range" name="points" min="1" max="100"> -->
						</li>
						<li class="divider"></li>

					</ul>
				</ul>
			</div>
		</div>
		<div class="span9" id="soundpatterns" style="margin-bottom:50">
			<!-- <sound-pattern>
			</sound-pattern> -->
		</div>
		
	</div>
</div>
<!-- <doob.sound.patterns></doob.sound.patterns> -->

