<h3>
  Upload!!!
</h3>
<audio id="test-audio" controls>
      <!-- <source src="https://s3.amazonaws.com/doob/user/qoi/NTI0OGNkNzcxMjNlNmRlNjFhMDAwMDA0"> -->
    </audio>

<div file-uploader>
  <div >
    Choose files that you want to upload to your space.
    <span ng-show="me.accType != 10">You have <b>{{me.quota | time:'full:strings'}}</b> left.</span>
    <span ng-show="me.accType == 10">You have unlimited space.</span>
  </div><br />
  <button class="btn btn-large btn-warning" id="startupload">
    Choose Files 
  </button>
    <input type="file" id="multiplefileuploader" style="display:none" multiple/>
  <br>
  <!-- <input ng-model="tempy"> <p>{{tempy | time: 'compare:now'}}</p> -->
  <button ng-click="play()">play</button>
  <div>
    <table ng-show="progressReports[0]" class="table table-bordered" style="width:75%">
      <tbody>
        
        <tr ng-repeat="report in progressReports" id="{{report.id}}">
          <td >{{report.fileName}}</td>
          <td >{{report.size | fileSize}}</td>
          <td>{{report.duration | time:'long:numbers'}}</td>
          <td id="columnstatus">{{report.status}}</td>
          <td id="columnprogress">{{report.progress}}</td>
          <td id="columnshare" style="display:none">Share</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>