<html lang="en" ng-app="hm">
	<head>
		<script src="/public/js/lib/jquery.js"></script>
		<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/public/css/bootstrap-glyphicons.css">
		<script src="/public/js/bootstrap.min.js"></script>
		<script src="/public/js/lib/angular.js"></script>
		<script src="/public/js/app.js"></script>
  		<script src="/public/js/controllers.js"></script>
		
	</head>
	<body ng-controller="HomeCtrl">
		<div ng-view></div>
	</body>
</html>