<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
		<script type="text/javascript" src="/public/js/login.js"></script>
		
	</head>
	<body style="padding-left: 25px">

		<h3>Sign-In</h3>
		<form >
			<fieldset>
				<label>
					<input id="lu" class="form-control" placeholder="Username" required>
				</label> &nbsp
				<label><input id="lp" type="password" class="form-control" placeholder="Password" required></label>&nbsp
				<input type="checkbox" checked> Remember Me<br>
				<button type="submit" class="btn btn-default" onclick="login(); return false;">Sign in</button>
			</fieldset>
		</form>

		<form>
			<h3>Or Sign-Up</h3>
			<fieldset>
				<label>
					<input id="ru" class="form-control" placeholder="Username" required>
				</label>&nbsp
				<label><input id="rp" type="password" class="form-control" placeholder="Password" required></label>&nbsp
				<input type="checkbox" checked> Remember Me<br>
				<button class="btn btn-default" onclick="register(); return false;">Sign Up</button>
			</fieldset>
			<div class="form-group has-error">
				<label id="errmsg" class="control-label" for="inputError" style="display:none"></label>
			</div>
		</form>

		<div class="form-group has-error">
		  <p class="control-label" for="inputError" id="err"></p>
		</div>

	</body>
</html>






		