<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
		<script type="text/javascript" src="/public/js/index.js"></script>
	</head>
	<body style="padding-left: 25px">
		<h3>Sign-In</h3>
		<form>
			<fieldset>
				<label>
					<input id="l-u" class="form-control" placeholder="Username" required>
				</label>
				<label><input id="l-p" type="password" class="form-control" placeholder="Password" required></label>
				<button class="btn btn-default" onclick="login()">Sign in</button>
			</fieldset>
		</form>
		<form>
			<h3>Or Sign-Up</h3>
			<fieldset>
				<label>
					<input id="r-u" class="form-control" placeholder="Username" required>
				</label>
				<label><input id="r-p" type="password" class="form-control" placeholder="Password" required></label>
				<button class="btn btn-default" onclick="register()">Sign Up</button>
			</fieldset>
			<div class="form-group has-error">
				<label id="err-msg" class="control-label" for="inputError" style="display:none"></label>
			</div>
		</form>
	</body>
</html>