html
  body
    h3
      | Hey nbsp;
      span= to
    p(style='width: 80%; text-align: justify; font-family: tahoma; color: navy;')
      | I discovered this online app where we can join and create music in real-time and share it with other friends. It allows us to export what we created and put it on the cloud. It's really cool! I thought that you're gonna love it as much as I do. So here is your invite. Just buzz me when you're online and we can jam together!
    h5= from
