<span class="dropdown" stop-event="click" style="margin-buttom: 10" >
	
	<button ng-click="focus()"
	class="btn btn-small dropdown-toggle">
		<icon class="icon-plus-circled" style="font-size:15"></icon>
	</button>

	<ul class="dropdown-menu" style="max-height: 200px;" id="spnamedropdown">
		<li>
			<input id="spname" stop-event="click" placeholder="Pattern Name" ng-model="name" sp-name-input>
			<input id="sptempo" stop-event="click" placeholder="Tempo (120)" ng-model="tempo" sp-name-input>
			<input id="spsteps" stop-event="click" placeholder="Steps (32)" ng-model="steps" sp-name-input>
		</li>	
	</ul>
</span>