
<div class="well" style="overflow:hidden; overflow-x:auto; padding-bottom: 0;">	
		<table class="table table-hover" style="margin-bottom:0; border-bottom: 1 solid rgb(221, 221, 211)">
		<tbody>
			<tr ng-repeat="patternSound in pattern.tracks" class="sound-pattern">
				<td class="sound-name-borders">
					<button class="close pull-left" style="padding-right: 10px;"  
					ng-click="removeTrack(patternSound)">&times;
					</button>
					{{patternSound.name}}&nbsp;&nbsp;&nbsp;

					<doob.play.inline icon-position="pull-right" sound="patternSound.dummyName" context="instanceName" stop-event="click">
					</doob.play.inline>
				</td>
				<td class="btn-group">
					<span ng-repeat="note in totalNotes()">
						<span ng-show="$index % 4 == 0 && $index != 0 && $index % 8 != 0 && $index % 12 != 0 && $index % 16 != 0" class="quarter-divider">
						</span>
						<span ng-show="$index % 8 == 0 && $index != 0 && $index % 16 != 0 && $index % 12 != 0" class="half-divider"></span>
						<span ng-show="$index % 12 == 0 && $index != 0" class="three-quarters-divider">
						</span>
						<span ng-show="$index % 16 == 0 && $index != 0" class="one-divider">
						</span>
						<button 
						ng-class="{'btn btn-small btn-inverse': patternSound.pattern.indexOf($index + 1) != -1, 'btn btn-small': true }"
						ng-click="toggleNote($index + 1, patternSound)" style="border-radius:0; height:18; width: 18; padding:0;margin:0;">
							<icon ng-class="{'icon-note': patternSound.pattern.indexOf($index + 1) != -1}" style="margin:0;color:white">
							</icon>
						</button>

					</span>
				</td>
			</tr>
		</tbody>
	</table>
	<span class="created-info">
		<i class="icon-cog-alt"></i> Created at {{patternInfo.created | date: 'MMM d, h:mm a'}}
	</span>
				<span class="created-info"> <i class="icon-cog"></i>  Modified at {{patternInfo.updated | date: 'MMM d, h:mm a'}}</span>
</div>